@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

html, body {
	margin: 0px;
	padding: 0px;

	font-family: "Rajdhani";

}

.container-fluid, px-0 {
	width: 100%;
	.row {
		.global_bg {
			width: 100%;
			background: url("../Resources/HeaderBackground.svg") no-repeat;
			background-size: cover;
			background-position: 50% 100%;
		}
	}
	.header {

		margin-top: 10%;
		margin-bottom: 10%;	

		img {
			width: 100%;
		}

		.title {
			font-size: 50px;
			line-height: 95.6%;
		}

		.description {
			font-size: 28px;
		}

		.button {
			margin-top: 10%;
		}
	}

	.algorithm {
		margin-top: 5%;
		.title {
			width: 100%;
			font-size: 40px;
			text-align: center;
		}	

		.algorithm_illustration {
			margin-top: 10%;
			img {
				width: 100%;
			}

			display: block;


			margin-left: auto;
			margin-right: auto;
		}

		.algorithm_illustration_mobile {
			margin-top: 10%;
			img {
				width: 100%;
			}

			display: none;


			margin-left: auto;
			margin-right: auto;
		}
	}

	

}

.button {
	background: #2E3F67;
	border-radius: 20px;
	font-size: 32px;

	width: 262.42px;
	height: 65px;

	text-align: center;
	line-height: 65px;

}

@media (max-width: 768px) {
	.container-fluid, px-0 {
		word-wrap: break-word;
		.header {
			margin: 0;
			text-align: center;

			img {
				width: 30%;
			}

			.button {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20%;
			}

			.title {
				margin-left: auto;
				margin-right: auto;
			}
		}

		.algorithm {

			.algorithm_illustration {
				display: none;
			}

			.algorithm_illustration_mobile {
				display: block;

				margin-left: auto;
				margin-right: auto;
			}

		}
	}
}